<div class="container">
  <h1>
    {{ title }}   <button mat-raised-button (click)="showEmployeeTable = !showEmployeeTable">{{showEmployeeTable ? 'Hide' : 'Show'}}</button>
  </h1>
  <div *ngIf="showEmployeeTable">
    <mat-table [dataSource]="dataSource" 
    matSort matSortActive="name" matSortDirection="asc">

    <ng-container matColumnDef="profileImage">
      <mat-header-cell *matHeaderCellDef> Profile </mat-header-cell>
      <mat-cell *matCellDef="let employee"> <img src="{{employee.profileImage}}" alt="{{employee.name}}" class="img-thumbnail"> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Job Title </mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.title}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [length]="resultsLength" [pageSize]="10">
    </mat-paginator>
  </div>
</div>

